# 02 - Data Cleaning and Preprocessing

## Notebook Objective:

This notebook focuses on cleaning and preprocessing the raw, messy `mock_dataset.csv` identified in `01_data_loading_and_initial_inspection.ipynb`. We will systematically address various data quality issues to prepare a clean, reliable dataset for subsequent analysis.

The key cleaning steps will include:
1.  Initial Column Management (renaming, dropping redundant columns)
2.  Handling Duplicate Rows
3.  Standardizing Column Names
4.  Correcting Data Types (Dates, Numerics)
5.  Addressing Missing Values
6.  Handling Inconsistent Text Formats (Whitespace, Casing)
7.  Dealing with Invalid Data and Outliers
8.  Final Data Validation

Our goal is to transform the `mock_dataset.csv` into a `cleaned_data.csv`.

Import necessary libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np

Define File path

In [2]:
file_path = r"C:\Users\Prashanth\OneDrive\ドキュメント\Portfolio_Projects_DA\Consolidated Invoicing, Engine, and Exception Analytics\data\mock_dataset.csv"

Load the dataset

In [3]:
try:
    df = pd.read_csv(file_path)
    print("dataset loaded successfully for cleaning.")
    print(f"Initial rows: {len(df)}")
except FileNotFoundError:
    print(f"Error: The file '{messy_file_path}' was not found.")
    df = pd.DataFrame()

dataset loaded successfully for cleaning.
Initial rows: 10113

### 1. Initial Column Management

In [4]:
print("Current Columns before management ---")
print(df.columns.tolist())

Current Columns before management ---
['Count of Invoice', 'Type of Request', 'REQUEST ID', 'CREATED BY', 'CREATED ON', 'BRANCH NAME', 'SUPPLIER CODE', 'NAME', 'COUNTRY', 'CURRENCY', 'TYPE OF REQUEST', 'Amount', 'TASK START', 'Actioned Date', 'Request Received Stage', 'Request received date', 'Completed Date', 'Status of Request', 'Pending Reason', 'Pending With Approver/Requestor', 'QC Status', 'Audited By', 'Auditor Comments', 'Ageing-SLA-FPY', 'Ageing-SLA-2', 'Ageing of Re-work Days', 'Ageing of Re-work', 'Month', 'Unnamed: 28', ' Amount ']

Drop the entirely empty and redundant ' Amount ' column

In [5]:
if ' Amount ' in df.columns: # Check if the column with space exists
    df.drop(columns=[' Amount '], inplace=True)
    print(f"\nDropped redundant column: ' Amount '.")
else:
    print(f"\nRedundant column ' Amount ' not found.")

Dropped redundant column: ' Amount '.

columns after Initial Management

In [6]:
print("\n--- Columns after initial management ---")
print(df.columns.tolist())

print(f"\nDataFrame shape after initial column management: {df.shape}")

--- Columns after initial management ---
['Count of Invoice', 'Type of Request', 'REQUEST ID', 'CREATED BY', 'CREATED ON', 'BRANCH NAME', 'SUPPLIER CODE', 'NAME', 'COUNTRY', 'CURRENCY', 'TYPE OF REQUEST', 'Amount', 'TASK START', 'Actioned Date', 'Request Received Stage', 'Request received date', 'Completed Date', 'Status of Request', 'Pending Reason', 'Pending With Approver/Requestor', 'QC Status', 'Audited By', 'Auditor Comments', 'Ageing-SLA-FPY', 'Ageing-SLA-2', 'Ageing of Re-work Days', 'Ageing of Re-work', 'Month', 'Unnamed: 28']

DataFrame shape after initial column management: (10113, 29)

### 2. Drop Entirely Empty/Redundant Columns

These columns were identified in initial inspection (01_data_loading_and_initial_inspection.ipynb)
as having 0 non-null values, providing no useful information for this analysis project.

In [7]:
columns_to_drop_due_to_emptiness = [
    'Ageing-SLA-2',
    'Ageing of Re-work Days',
    'Ageing of Re-work',
    'Unnamed: 28'
]

In [8]:
# Check if Column exist before attempting to drop
existing_columns_to_drop = [col for col in columns_to_drop_due_to_emptiness if col in df.columns]
existing_columns_to_drop

['Ageing-SLA-2', 'Ageing of Re-work Days', 'Ageing of Re-work', 'Unnamed: 28']

In [9]:
if existing_columns_to_drop:
    df.drop(columns=existing_columns_to_drop, inplace=True)
    print(f"\nDropped  empty columns: {existing_columns_to_drop}")
else:
    print("\nNo additional empty columns found to drop.")

Dropped  empty columns: ['Ageing-SLA-2', 'Ageing of Re-work Days', 'Ageing of Re-work', 'Unnamed: 28']

Current Columns after dropping empty ones

In [10]:
print(f"\nDataFrame shape after dropping empty columns: {df.shape}")
print("\nCurrent Columns after dropping empty ones ---")
df.columns.tolist()

DataFrame shape after dropping empty columns: (10113, 25)

Current Columns after dropping empty ones ---

['Count of Invoice',
 'Type of Request',
 'REQUEST ID',
 'CREATED BY',
 'CREATED ON',
 'BRANCH NAME',
 'SUPPLIER CODE',
 'NAME',
 'COUNTRY',
 'CURRENCY',
 'TYPE OF REQUEST',
 'Amount',
 'TASK START',
 'Actioned Date',
 'Request Received Stage',
 'Request received date',
 'Completed Date',
 'Status of Request',
 'Pending Reason',
 'Pending With Approver/Requestor',
 'QC Status',
 'Audited By',
 'Auditor Comments',
 'Ageing-SLA-FPY',
 'Month']

### 3. Handle Duplicate Rows

In [11]:
initial_rows = len(df)
df.drop_duplicates(inplace=True)

print(f"\nRows before dropping duplicates: {initial_rows}")
print(f"Rows after dropping exact duplicates: {len(df)}")
print(f"Number of duplicate rows removed: {initial_rows - len(df)}")

Rows before dropping duplicates: 10113
Rows after dropping exact duplicates: 10013
Number of duplicate rows removed: 100

In [12]:
print(f"\nDataFrame shape after handling duplicates: {df.shape}")

DataFrame shape after handling duplicates: (10013, 25)

### 4. Standardize Column Names

Strip whitespace and replace spaces/hyphens with underscores, then convert to lowercase

In [13]:
df.columns = df.columns.str.strip().str.replace(' ', '_').str.replace('-', '_').str.lower()

Handle any double underscores that might result from multiple replacements (e.g., 'TYPE__OF__REQUEST')

In [14]:
df.columns = df.columns.str.replace('__', '_')

Remove any trailing underscores if present

In [15]:
df.columns = df.columns.str.rstrip('_')

Column names after standardization

In [16]:
print(f"\nDataFrame shape after standardizing column names: {df.shape}")

print("\nColumn names after standardization ---")
df.columns.tolist()

DataFrame shape after standardizing column names: (10013, 25)

Column names after standardization ---

['count_of_invoice',
 'type_of_request',
 'request_id',
 'created_by',
 'created_on',
 'branch_name',
 'supplier_code',
 'name',
 'country',
 'currency',
 'type_of_request',
 'amount',
 'task_start',
 'actioned_date',
 'request_received_stage',
 'request_received_date',
 'completed_date',
 'status_of_request',
 'pending_reason',
 'pending_with_approver/requestor',
 'qc_status',
 'audited_by',
 'auditor_comments',
 'ageing_sla_fpy',
 'month']

### 5. Correct Data Types(Dates & Numerics)

Convert Date Columns to datetime objects

In [17]:
print("\nConverted Date Columns to Datetime Objects ---")

df['created_on'] = pd.to_datetime(df['created_on'], errors='coerce')
df['task_start'] = pd.to_datetime(df['task_start'], errors='coerce')
df['actioned_date'] = pd.to_datetime(df['actioned_date'], errors='coerce')
df['request_received_date'] = pd.to_datetime(df['request_received_date'], errors='coerce')
df['completed_date'] = pd.to_datetime(df['completed_date'], errors='coerce')

Converted Date Columns to Datetime Objects ---

 Convert 'amount' to Numeric (float) ---

In [18]:
# Convert the 'amount' column to Numeric.
if 'amount' in df.columns:
    df['amount'] = pd.to_numeric(df['amount'], errors='coerce')
    print(f"  - 'amount' converted to float.")
else:
    print(f"  - WARNING: 'amount' column not found. Skipping conversion.")

  - 'amount' converted to float.

Check data types after conversion

In [19]:
print("\nData Types After Date Conversions ---")
df.info() # This will show all data types, including newly converted date columns.

print(f"\nDataFrame shape after date conversions: {df.shape}")

Data Types After Date Conversions ---
<class 'pandas.core.frame.DataFrame'>
Index: 10013 entries, 0 to 10012
Data columns (total 25 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   count_of_invoice                 10010 non-null  float64
 1   type_of_request                  10013 non-null  object
 2   request_id                       10013 non-null  int64
 3   created_by                       10013 non-null  object
 4   created_on                       10011 non-null  datetime64[ns]
 5   branch_name                      10013 non-null  object
 6   supplier_code                    10013 non-null  object
 7   name                             10013 non-null  object
 8   country                          10013 non-null  object
 9   currency                         10013 non-null  object
 10  type_of_request                  10013 non-null  object
 11  amount                           10002 non-null  float64
 12  task_start                       10013 non-null  datetime64[ns]
 13  actioned_date                    10013 non-null  datetime64[ns]
 14  request_received_stage           9712 non-null   object
 15  request_received_date            10013 non-null  datetime64[ns]
 16  completed_date                   9944 non-null   datetime64[ns]
 17  status_of_request                9959 non-null   object
 18  pending_reason                   1817 non-null   object
 19  pending_with_approver/requestor  1193 non-null   object
 20  qc_status                        8828 non-null   object
 21  audited_by                       3870 non-null   object
 22  auditor_comments                 3874 non-null   object
 23  ageing_sla_fpy                   9683 non-null   float64
 24  month                            9819 non-null   object
dtypes: datetime64[ns](5), float64(3), int64(1), object(16)
memory usage: 2.0+ MB

DataFrame shape after date conversions: (10013, 25)

### 6. Handling Missing Values

Impute Missing 'created_on' Dates

Filling with the mode (most frequent date) is a common strategy for date imputation.

In [20]:
# Impute Missing 'created_on' Dates ---

if 'created_on' in df.columns:
    missing_count_before = df['created_on'].isnull().sum()
    if missing_count_before > 0:
        mode_created_on = df['created_on'].mode()[0]
        df['created_on'] = df['created_on'].fillna(mode_created_on) 
        print(f"  - Imputed {missing_count_before} missing 'created_on' values with the mode: {mode_created_on.strftime('%Y-%m-%d')}.")
    else:
        print("  - No missing 'created_on' dates to impute.")
else:
    print("  - WARNING: 'created_on' column not found. Skipping imputation.")

  - Imputed 2 missing 'created_on' values with the mode: 2025-04-10.

Handle Missing Categorical/Text Fields

Filling missing values in descriptive columns with 'Unknown' or 'Not Applicable'
ensures these records remain usable and their missingness is explicitly noted for analysis.

In [21]:
# Define columns and their respective fill values
columns_to_fill_with_string = {
    'request_received_stage': 'Unknown Stage',
    'status_of_request': 'Unknown Status',
    'pending_reason': 'No Pending Reason',
    'pending_with_approver/requestor': 'No Pending Party',
    'qc_status': 'Not Reviewed',
    'audited_by': 'Not Applicable',
    'auditor_comments': 'No Comments'
}

In [22]:
print("\n--- Filling Missing Categorical/Text Values ---")
for col, fill_value in columns_to_fill_with_string.items():
    if col in df.columns:
        missing_count = df[col].isnull().sum()
        
        if missing_count > 0:
            df[col] = df[col].fillna(fill_value) 
            print(f"  - Filled {missing_count} missing values in '{col}' with '{fill_value}'.")
        else:
            print(f"  - No missing values found in '{col}'.")
    else:
        print(f"  - WARNING: Column '{col}' not found. Skipping.")

--- Filling Missing Categorical/Text Values ---
  - Filled 301 missing values in 'request_received_stage' with 'Unknown Stage'.
  - Filled 54 missing values in 'status_of_request' with 'Unknown Status'.
  - Filled 8196 missing values in 'pending_reason' with 'No Pending Reason'.
  - Filled 8820 missing values in 'pending_with_approver/requestor' with 'No Pending Party'.
  - Filled 1185 missing values in 'qc_status' with 'Not Reviewed'.
  - Filled 6143 missing values in 'audited_by' with 'Not Applicable'.
  - Filled 6139 missing values in 'auditor_comments' with 'No Comments'.

In [23]:
print("\n--- Final Missing Values after all specified handling ---")
print(df.isnull().sum())

print(f"\nDataFrame shape after all missing value handling: {df.shape}")

--- Final Missing Values after all specified handling ---
count_of_invoice                     3
type_of_request                      0
request_id                           0
created_by                           0
created_on                           0
branch_name                          0
supplier_code                        0
name                                 0
country                              0
currency                             0
type_of_request                      0
amount                              11
task_start                           0
actioned_date                        0
request_received_stage               0
request_received_date                0
completed_date                      69
status_of_request                    0
pending_reason                       0
pending_with_approver/requestor      0
qc_status                            0
audited_by                           0
auditor_comments                     0
ageing_sla_fpy                     330
month                              194
dtype: int64

DataFrame shape after all missing value handling: (10013, 25)

### 7. Correct Negative ageing_sla_fpy Values

In [24]:
print("\n--- Correcting Negative 'ageing_sla_fpy' Values ---")

if 'ageing_sla_fpy' in df.columns:
    negative_count_before = (df['ageing_sla_fpy'] < 0).sum()
    if negative_count_before > 0:
        df['ageing_sla_fpy'] = df['ageing_sla_fpy'].apply(lambda x: max(0, x) if pd.notna(x) else x)
        print(f"  - Converted {negative_count_before} negative values in 'ageing_sla_fpy' to 0.")
    else:
        print("  - No negative values found in 'ageing_sla_fpy'.")
else:
    print("  - WARNING: 'ageing_sla_fpy' column not found. Skipping correction.")

print(f"\nMin 'ageing_sla_fpy' after correction: {df['ageing_sla_fpy'].min()}") # Confirm min is now >= 0

--- Correcting Negative 'ageing_sla_fpy' Values ---
  - Converted 75 negative values in 'ageing_sla_fpy' to 0.

Min 'ageing_sla_fpy' after correction: 0.0

Correct Negative 'amount'

In [25]:
print("\n--- Correcting Negative 'amount' Values to Positive ---")

if 'amount' in df.columns:
    negative_count_before = (df['amount'] < 0).sum()
    if negative_count_before > 0:
        df['amount'] = df['amount'].abs() # Convert to absolute value
        print(f"  - Converted {negative_count_before} negative 'amount' values to positive.")
    else:
        print("  - No negative 'amount' values found to convert.")
else:
    print("  - WARNING: 'amount' column not found. Skipping correction.")

print(f"\nMin 'amount' after correction: {df['amount'].min():.2f}")

--- Correcting Negative 'amount' Values to Positive ---
  - Converted 60 negative 'amount' values to positive.

Min 'amount' after correction: 1.67

In [26]:
print(f"\nFinal DataFrame shape after cleaning and before saving: {df.shape}")
print("\n--- Final Check for Missing Values in Cleaned Data ---")
print(df.isnull().sum())

Final DataFrame shape after cleaning and before saving: (10013, 25)

--- Final Check for Missing Values in Cleaned Data ---
count_of_invoice                     3
type_of_request                      0
request_id                           0
created_by                           0
created_on                           0
branch_name                          0
supplier_code                        0
name                                 0
country                              0
currency                             0
type_of_request                      0
amount                              11
task_start                           0
actioned_date                        0
request_received_stage               0
request_received_date                0
completed_date                      69
status_of_request                    0
pending_reason                       0
pending_with_approver/requestor      0
qc_status                            0
audited_by                           0
auditor_comments                     0
ageing_sla_fpy                     330
month                              194
dtype: int64

### 8. Save Cleaned Data

In [27]:
print("Cleaned Data Saved Successfully!!")
df.to_csv("cleaned_data.csv", index=False)

Cleaned Data Saved Successfully!!

___